* {
    margin: 0;
    padding: 0;
}

body {
   background-color: gray;

    width:100vmax;
}



.wrapper {
   background-color: #ffffff;

max-width: 1500px;
width:100% ;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr minmax(100px ,auto) minmax(1120px ,auto) 
minmax(1850px ,auto) minmax(985px ,auto) minmax(770px ,auto) minmax(675px ,auto)
 minmax(760px ,auto) minmax(675px ,auto);
 

}

 .header {
  
   
   max-height: 810px;
   
   width: 100vmax;
   
   max-width: 1500px;
}

.infobox{

   position:relative;
   width: 100%;

height: 100%;
}


.imghands{

   width: 100%;

height: 100%;
   bottom: 0px;
   position: relative;

}
.imghands:hover{
   filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  transition: all 0.6s ease 0s; }


   .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr minmax(auto,200px);
      font-family: 'PT Sans', sans-serif;
      color :white
       ;
   }

   .mask:hover {
   
   background-color: rgba(48, 50,99,0.67);
    ;
}
.info {position: relative;
   z-index: 1;
   font-size: 46px;
   color: #ffffff;
   grid-column: 2/8;
   grid-row: 2;
   text-align: center;
   font-family: Tahoma, sans-serif;
font-weight: bold;
top:30px;}


.infosmall{
   font-size: 24px ;
   grid-row: 3;
   grid-column: 3/7;
   text-align: center;
   font-weight:normal
}
.infosquare{grid-column: 1/9;

   grid-row: 4;
   
   text-align: center;
   
   position: relative;
   
   display: grid;
   
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 50px
}
   .sqr 
   {
      margin-left: 25px;
   margin-right: 25px}
   .boxsqr1
   {
      grid-column: 2}
   .boxsqr2
   {
      grid-column: 3}
   .boxsqr3
   {
      grid-column: 4}





















    nav {
      height: 100px;
      z-index: 1;
      grid-row: 2;
  }
  .navigation{
   background: #ffffff;

   height: 100px;
   
   box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
   
   font-size: 24px;
   
   font-family: 'PT Sans', sans-serif;
   
   position: relative;
   
   white-space: nowrap;
   
   font-weight: bold;
}
      
        
      
  
  .navigation.fixed{
   position: fixed;
   top: 0;
   width: 100%;
   
   max-width: 1500px;
  }
  .navigation ul{
      width: 100%;
      padding-left: 0;
      margin: 0 auto;
      /*display: block;*/
      text-align:center;
        display: inline-table;
        position: relative;
        top: 40px;
        max-width: 1500px;

width: 100vmax;
  
display: inline-flex;

justify-content: center;}
 
  .menu li{
      float: left;
      list-style: none;
      padding: 0 25px;
      float: left;
        list-style: none;
        /*width: 180px;*/
        text-align: center;
  }
  .menu a {
      color: black;
      text-decoration: none;
      font-family: Verdana;
      padding: 0px;
  }
  .menu>li a:hover{
      color: rgb(246,174,72);
      transition: color 0.5s ease;}
   .about{
      display: grid;
      grid-template-columns:  125px 1fr 1fr 1fr 125px;
      grid-template-rows: 625px 340px 257px;

   }

   .webig{font-size: 340px;
      grid-column: 3/6;
      grid-row: 1/2;
      font-family: Tahoma;
      font-weight: bold;
      opacity: 0.16;
      margin-top: 42px;
  
  

   }

   .weare{font-size: 48px;

      grid-column: 1/3;
      
      grid-row: 1;
      
      font-family: Tahoma;font-weight: bold;
      margin-top: 215px;
      margin-left: 65px;}

   .weinfo{
      font-size: 24px;

grid-column: 3/6;

grid-row: 1;

opacity: 0.8;

margin-top: 170px;

line-height: 38px;

margin-left: -86px;}

   .blox{font-size: 24px;
      grid-row: 2;
      
      }
      

   
   .blox:hover{background-color: orange;
      transition:  1.5s ease;
   opacity: 0.9;
   color: #ffffff;
   background-color: rgb(221, 100, 19);
  z-index: 1;

      }
      .blox:hover img {
         
      filter: brightness(0) invert(1);
      transition:  1.5s ease;}

   
   .start{grid-column:2 }
   
   .startheader{font-size: 24px}
   .startinfo{font-size: 16px}
   .move{grid-column: 3}

   .help{grid-column: 4}



   .cupcoffee{  max-width: 100%;
      height: auto;
      bottom: -2px;
      position: relative;}
   .mask2{position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(48, 50,99,0.67);
      opacity:0 ;}
      .mask2:hover {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: rgba(48, 50,99,0.67);
         opacity:1 ;
      }
      .infobox2{

         position:relative;
         grid-column: 1/9;
      }

.s22tt{color: rgb(143, 37, 37);}
.s22tt:hover{color: yellowgreen}

























      .bookphone{max-width: 100%;
         height: auto;
         bottom: -2px;
         position: relative;}
      .mask3{
         position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(48, 50,99,0.67);
      opacity:0 ;
      }
      .mask3:hover {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: rgba(48, 50,99,0.67);
         opacity:1 ;
      }
      .infobox3{

         position:relative;
         grid-column: 1/9;
      }

